{% extends "masterpage.html" %}
{% load static %}



{% block content %}
    <div class="container-fluid background">
        <div class="row ">
            <div class="col-md-6">
                {% include 'sound.html' %}
            </div>
        </div>
    </div>


    <div id="game-div">
        <div class="container-fluid background">
            <div class="row">

                <div class="col-md-6 float-right" style="position: absolute;top:0;right:0;left:auto;">
                    <span class="float-right roboto"> &nbsp;Hits: {{ request.session.current }}</span>
                    <span class="float-right roboto"> Best: {{ request.session.best }} </span>
                </div>
                <div class="col-md-10 mx-auto">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12" align="center">
                    <span class="roboto">{{ equation }}</span>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class=" col-3 col-lg-1 button true" onclick="check_answer(true)">
                    <i class="fas fa-check fa-5x"></i>

                </div>
                <div class=" col-3 col-lg-1  button false" onclick="check_answer(false)">
                    <i class="fas fa-times fa-5x"></i>
                </div>
            </div>
        </div>


        <div class="modal fade" id="failmodal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body" align="center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">Current</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> {{ request.session.current }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">Best</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> {{ request.session.best }}</div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="{% url 'init' %}">Restart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

            $(".progress-bar").animate({
                width: "0%",
            }, {
                duration: 5000,
            });


            var canShowModal = true;

            function check_answer(selected) {
                if (selected === {{ res }}) {

                    $.ajax({
                        url: '{% url 'second' %}',
                        method: 'GET',
                        data: {},
                        success: function (data) {

                            $('#game-div').replaceWith($('#game-div', data));
                            sound && document.getElementById('audioSuccess').play();
                        },
                        error: function (error) {
                            window.alert("Something went wrong :(");

                        }
                    });


                } else {
                    $('#failmodal').modal('show');
                    sound && document.getElementById('audioFail').play();
                    canShowModal = false;
                }
            }


            var targetNode = document.getElementsByClassName('progress-bar')[0];

            // Options for the observer (which mutations to observe)
            var config = {attributes: true};

            // Callback function to execute when mutations are observed
            var callback = function (mutationsList, observer) {
                for (var mutation of mutationsList) {
                    if (mutation.type === 'attributes') {
                        var {width} = targetNode.style;

                        if (width === '0%' && canShowModal) {
                            $('#failmodal').modal('show')
                            sound && document.getElementById('audioFail').play();
                        }

                    }
                }
            };
            // Create an observer instance linked to the callback function
            var observer = new MutationObserver(callback);

            // Start observing the target node for configured mutations
            observer.observe(targetNode, config);


        </script>

    </div>

{% endblock %}

